{% extends 'base_login/base.html' %}
{% load static %}
{% block login_content %}
    <div class="text-center mt-5 mb-5">
        <div class="row">
            <div class="col">
                <img src="{% static 'img/logo.png' %}" alt="">
            </div>
        </div>
        <h2 style="font-weight: bold;" class="mt-5">Portal do cliente - Área de Login</h2>

        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Usuário</label>
                  </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="form-floating">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Senha</label>
                  </div>
            </div>
        </div>

        <button type="submit" class="btn btn-danger btn-main mt-5 mb-5"><h4>Entrar como cliente</h4></button>
    </div>
{% endblock login_content %}